@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
section .quotes {
    column-count: 1;
}
    .splash .center-text {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-90%,-60%);
    margin: 30px;
    padding: 80px 30px 30px 30px;
}

.quotes h3, h4, h5 {
    font-size: 90%;
}
    .story h2 {
    margin-left: 20px;
}

.story input[type=submit] {
    margin-right: 20px;
}
   .col-sm-4 .image {
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 50%;
        width: 50%;
    }

    .col-sm-4 .overlay {
        position: absolute;
        bottom: 0;
        height: 112px;
        border-radius: 50%;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 40%;
        margin-left: 10px;
        margin-bottom: 10px;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
}

body {
    color: #391D55;
    font-size: small;
}
.nav .logo {
    width: 20%;
    min-width: 175px;
}
.splash .logo {
    width: 30%;
    float: left;
}
.splash img {
    width: 100%;
}
.splash {
    position: relative;
    text-align: center;
    background-color: white;

}

.splash .center-text {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-115%,-90%);
    margin: 30px;
    padding: 80px 30px 30px 30px;
}

.splash .center-logo {
    width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
}

.splash h1 {
    min-width: 80px;
    padding-bottom: 15px;
    border-bottom: 2px dotted;
}

header {
    margin: 30px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}



section h2 {
    text-align: center;
    margin-top: 5px;
    border: 1px solid #F15A2C;
    padding: 30px;
}
.quotes {
    margin: 30px;
    text-align: center;
    column-count: 3;

}
.quotes h4 {
    font-style: italic;
}
.columns {
    column-count: 2;
}
.descript {
    margin-bottom: 10px;

}
.descript h5 {
    margin-left: 20px;
}

.descript h6 {
    background-color: #391D55;
    color: white;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.compat {
    margin-right: 20px;
}

h1 {
    font-family: 'Oleo Script';
    font-weight: bold;
}
h2 {
    font-family: 'Roboto';
    font-weight: lighter;
}
h3 {
    font-family: Roboto;
    font-weight: bold;
}
h4 {
    font-family: Roboto;
    font-weight: lighter;
}

.roboto {
    font-family: Roboto;
    font-weight: lighter;
}

.lekton-bold {
    font-family: Roboto;
    font-weight: bold;
}
.oleo {
    font-family: Oleo Script;
}
h5 {
    font-family: Roboto;
    font-weight: bold;

}
h6 {
    font-family: Roboto;
    font-weight: lighter;
}

p {
    text-indent: 50px;
}

.favicons ul li {
    display: inline-block;
    margin-right: 15px;
}

.palette img {
    padding-right: 12px;
    padding-left: 4px;
    padding-bottom: 10px;
}
.palette ul li {
    font-family: Lekton;
    display: inline-block;
    padding-right: 18px;

}

.fonts {
    column-count: 3;
}

.copy {
    margin-right: 20px;
}
.bootstrap-overrides li a {
    color: #391D55;
}
.ul ul li, .links ul li {
    font-family: Lekton;
    color:#391D55!important;
    list-style: none;
    padding: 5px;

}
.ul ul li a:link {
    text-decoration: none;
    color: #391D55!important;
}

.ul ul li a:hover {
    color: #F15A2C;
    text-decoration: underline;
}

blockquote {
    font-size: 28pt;
    font-family: Oleo Script;
    text-align: center;
    font-style: italic;
}

.links ul li a:link {
    text-decoration: none;
    color: #391D55;
}

.links ul li a:hover {
    color: #F15A2C;
}

.buttons .button {
    background-color: #FFFFFF;
    border-color: #BA1F71;
    border-radius: 5px;
    padding: 8px 5px 5px 5px;
    margin: 0 20px 0 5px;
}

.buttons .button:hover {
    background-color: #391D55;
}

.button:active {
    background-color: #391D55;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

select {
    width: 25%;
    margin: 6px;
    border: 1px solid #391D55;
    min-width: 60px;
    color: #999999;
    font-family: Roboto;
}

.form input[type=text]{
    width: 400px;
    color: #999999;
    font-family: Roboto;
}
input[value=Expiration] {
    width: 275px!important;
}
input[value=CVV] {
    width: 100px!important;
}

input[type=submit], .story form {
    font-family: Roboto;
    font-weight: lighter;
    color: #391D55;
    border: 1px solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 25px;
    text-align: center;
}

input[type=submit]:hover {
    background-color: #F15A2C;
    color: #391D55;
}

.story {
    background-color: #F15A2C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.story img, #social img {
    margin: 5px;
}

#social{
  margin-left: 80%;
}
.story form {
    padding-bottom: 10px;
    text-align: center;
    border: none;
}

.upgrade, .upgrade .row {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.form {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.form button a{
    color: black!important;
}
.form h4 {
    margin-left: 130px;
}

.form h5 {
    margin-left: 22%;
}

input {
    margin: 10px;
    height: 25px;
}


.form button {
    width: 150px;
    border: 1px solid;
    border-radius: 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.form .active {
    background-color: #F15A2C;
    margin-left: 60px;}


.form .active:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.form button:hover {
    border: 1px solid #F15A2C;
}

.logo {
    margin-left: 20px;
}

.nav {
border-bottom: 1px solid grey;
}

.topnav {
    float: right;
    overflow: hidden;
    position: relative;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
}

.topnav .logo:hover {
    text-decoration: none;
    color: #391D55;
}
.topnav #myLinks {
    display: none;
    border: none;
}

.topnav a {
    font-family: Lekton;
    color: #391D55;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: right;
}

.topnav a:hover {
    color: #F15A2C;
}

.topnav a.icon {
    width: 100px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.social img {
    margin: 10px;
}

footer {
    margin: 20px;
    text-align: center;
}

/*Chat features*/

.container{max-width:1170px; padding-top: 40px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.recent_heading {
    float: left;
    width:40%;
}


.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding:10px 29px 10px 20px;
    overflow:hidden;
    border-bottom:1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #F15A2C;
    font-size: 20px;
    margin-top: 10px;
}
.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width:80%;
    padding:2px 0 4px 6px;
    background:none;
}

.srch_bar .input-group-addon button {
    background: none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #391D55;
    font-size: 18px;
}
.srch_bar .input-group-addon {margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#391D55; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 25px 0 20px 0;
    padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #F15A2C none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    background: #391D55 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 516px;
    overflow-y: auto;
}

/* End of Chat features */


.profile { max-width:1170px; padding-top: 40px; margin:auto;}

.profile h4 {
    margin-bottom: 30px;
    margin-left: 20px;
}

img { max-width:100%;}

.col-sm-8 {
    padding: 25px;
    border: 1px solid #F15A2C;
}

.bio input[type=text] {
    width: 300%;
    height: 100px;

}

.col-sm-8 a, .links a {
    color: #391D55!important;
}

.links a:hover, .col-sm-8 a:hover {
    text-decoration: underline!important;
    color: #F15A2C!important;
}

.bio {
    max-width: 1170px;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

.bio h6 {
    margin-left: 15px;
}

.links {
    margin-left: 50%;
    margin-top: 70px;
}


.delete {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

* {box-sizing: border-box}


.col-sm-4 {
    position: relative;
    width: 50%;
    max-width: 300px;
}


.image {
border-radius: 50%;
    width: 100%;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    height: 270px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 90%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.col-sm-4:hover .overlay {
    opacity: 1;
}
